---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=WEATHER_API_KEY&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 19:31:59
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - '0990a820231b39fff6a752f3bc61f6c5'
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1682278319,"localtime":"2023-04-23
        15:31"},"current":{"last_updated_epoch":1682278200,"last_updated":"2023-04-23
        15:30","temp_c":7.8,"temp_f":46.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":270,"wind_dir":"W","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.0,"precip_in":0.0,"humidity":51,"cloud":100,"feelslike_c":5.1,"feelslike_f":41.3,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":11.2,"gust_kph":18.0},"forecast":{"forecastday":[{"date":"2023-04-23","date_epoch":1682208000,"day":{"maxtemp_c":12.0,"maxtemp_f":53.6,"mintemp_c":0.6,"mintemp_f":33.1,"avgtemp_c":5.9,"avgtemp_f":42.6,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":62.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":3.0},"astro":{"sunrise":"06:50
        AM","sunset":"08:22 PM","moonrise":"08:50 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":"9","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1682222400,"time":"2023-04-23
        00:00","temp_c":3.4,"temp_f":38.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":291,"wind_dir":"WNW","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"humidity":70,"cloud":11,"feelslike_c":0.6,"feelslike_f":33.1,"windchill_c":0.6,"windchill_f":33.1,"heatindex_c":3.4,"heatindex_f":38.1,"dewpoint_c":-1.6,"dewpoint_f":29.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.7,"gust_kph":17.3,"uv":1.0},{"time_epoch":1682226000,"time":"2023-04-23
        01:00","temp_c":2.5,"temp_f":36.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":285,"wind_dir":"WNW","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"humidity":73,"cloud":7,"feelslike_c":0.2,"feelslike_f":32.4,"windchill_c":0.2,"windchill_f"[...]
