---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&dt=2023-04-26&hour=1&key=WEATHER_API_KEY&q=Dallas,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/25/2023 21:27:42
      Cdn-Edgestorageid:
      - '907'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - '0049e74ac749a03d54c9f244ebe7e044'
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dallas","region":"Texas","country":"United States
        of America","lat":32.78,"lon":-96.8,"tz_id":"America/Chicago","localtime_epoch":1682458062,"localtime":"2023-04-25
        16:27"},"current":{"last_updated_epoch":1682457300,"last_updated":"2023-04-25
        16:15","temp_c":21.1,"temp_f":70.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":160,"wind_dir":"SSE","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.9,"precip_in":0.04,"humidity":57,"cloud":100,"feelslike_c":21.1,"feelslike_f":70.0,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":14.5,"gust_kph":23.4},"forecast":{"forecastday":[{"date":"2023-04-26","date_epoch":1682467200,"day":{"maxtemp_c":22.5,"maxtemp_f":72.5,"mintemp_c":13.9,"mintemp_f":57.0,"avgtemp_c":16.7,"avgtemp_f":62.1,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":78.4,"totalprecip_in":3.09,"totalsnow_cm":0.0,"avgvis_km":8.6,"avgvis_miles":5.0,"avghumidity":93.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png","code":1195},"uv":4.0},"astro":{"sunrise":"06:45
        AM","sunset":"08:05 PM","moonrise":"11:39 AM","moonset":"01:50 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"32"},"hour":[{"time_epoch":1682488800,"time":"2023-04-26
        01:00","temp_c":14.4,"temp_f":57.9,"is_day":0,"condition":{"text":"Moderate
        or heavy rain shower","icon":"//cdn.weatherapi.com/weather/64x64/night/356.png","code":1243},"wind_mph":10.3,"wind_kph":16.6,"wind_degree":112,"wind_dir":"ESE","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":4.2,"precip_in":0.17,"humidity":95,"cloud":86,"feelslike_c":13.2,"feelslike_f":55.8,"windchill_c":13.2,"windchill_f":55.8,"heatindex_c":14.4,"heatindex_f":57.9,"dewpoint_c":13.7,"dewpoint_f":56.7,"will_it_rain":1,"chance_of_rain":88,"will_it_snow":0,"chance_of_snow":0,"vis_km":7.0,"vis_miles":4.0,"gust_mph":18.1,"gust_kph":29.2,"uv":1.0}]}]}}'
  recorded_at: Tue, 25 Apr 2023 09:00:27 GMT
recorded_with: VCR 6.1.0
