---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&dt=2023-04-26&hour=1&key=WEATHER_API_KEY&q=Dallas,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/25/2023 19:30:16
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d00f555f4f475250dafecdc552f85bbb
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dallas","region":"Texas","country":"United States
        of America","lat":32.78,"lon":-96.8,"tz_id":"America/Chicago","localtime_epoch":1682451016,"localtime":"2023-04-25
        14:30"},"current":{"last_updated_epoch":1682451000,"last_updated":"2023-04-25
        14:30","temp_c":19.4,"temp_f":66.9,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":130,"wind_dir":"SE","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.1,"precip_in":0.0,"humidity":59,"cloud":100,"feelslike_c":19.4,"feelslike_f":66.9,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":13.0,"gust_kph":20.9},"forecast":{"forecastday":[{"date":"2023-04-26","date_epoch":1682467200,"day":{"maxtemp_c":23.5,"maxtemp_f":74.3,"mintemp_c":14.2,"mintemp_f":57.6,"avgtemp_c":16.8,"avgtemp_f":62.2,"maxwind_mph":21.5,"maxwind_kph":34.6,"totalprecip_mm":41.6,"totalprecip_in":1.64,"totalsnow_cm":0.0,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":91.0,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png","code":1195},"uv":4.0},"astro":{"sunrise":"06:45
        AM","sunset":"08:05 PM","moonrise":"11:39 AM","moonset":"01:50 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"32"},"hour":[{"time_epoch":1682488800,"time":"2023-04-26
        01:00","temp_c":14.7,"temp_f":58.5,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":11.6,"wind_kph":18.7,"wind_degree":115,"wind_dir":"ESE","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":2.2,"precip_in":0.09,"humidity":93,"cloud":100,"feelslike_c":13.4,"feelslike_f":56.1,"windchill_c":13.4,"windchill_f":56.1,"heatindex_c":14.7,"heatindex_f":58.5,"dewpoint_c":13.6,"dewpoint_f":56.5,"will_it_rain":1,"chance_of_rain":84,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":17.4,"gust_kph":28.1,"uv":1.0}]}]}}'
  recorded_at: Tue, 25 Apr 2023 19:30:16 GMT
recorded_with: VCR 6.1.0
