---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:dallas/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:dallas/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":63502.045187436794,"percentile_50":79505.34690899921,"percentile_75":99541.67883038316}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":46322.45959499479,"percentile_50":55013.10116503102,"percentile_75":65334.209933035345}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":34342.12679289724,"percentile_50":41358.16865350835,"percentile_75":49807.57670272804}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":47422.86910[...]
